/* OVERLAY */

.sidebar-overlay{

  position:fixed;

  inset:0;

  background:rgba(15,23,42,0.5);

  z-index:90;

  opacity:0;
  visibility:hidden;

  transition:0.3s ease;
}

.show-overlay{
  opacity:1;
  visibility:visible;
}

/* SIDEBAR */

.main-sidebar{

  width:280px;
  height:100vh;

  background:white;

  border-right:1px solid #e2e8f0;

  display:flex;
  flex-direction:column;
  justify-content:space-between;

  position:sticky;
  top:0;

  transition:0.3s ease;

  z-index:100;
}

/* TOP */

.sidebar-top{

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:28px 24px;
}

.sidebar-logo{

  font-size:1.7rem;
  font-weight:800;

  color:#0f172a;
}

.sidebar-logo span{
  color:#2563eb;
}

.close-btn{

  width:40px;
  height:40px;

  border:none;

  border-radius:12px;

  background:#eff6ff;

  color:#2563eb;

  cursor:pointer;

  display:none;
}

/* LINKS */

.sidebar-links{

  display:flex;
  flex-direction:column;

  gap:10px;

  padding:0 18px;
}

.sidebar-item{

  padding:16px 18px;

  border-radius:16px;

  text-decoration:none;

  color:#475569;

  font-weight:600;

  transition:0.3s ease;
}

.sidebar-item:hover{

  background:#eff6ff;

  color:#2563eb;

  transform:translateX(4px);
}

.sidebar-item.active{

  background:
    linear-gradient(
      135deg,
      #2563eb,
      #3b82f6
    );

  color:white;
}

/* BOTTOM */

.sidebar-bottom{
  padding:24px 18px;
}

.logout-btn{

  width:100%;

  padding:14px;

  border:none;

  border-radius:16px;

  background:#fee2e2;

  color:#dc2626;

  font-weight:700;

  cursor:pointer;

  transition:0.3s ease;
}

.logout-btn:hover{
  background:#fecaca;
}

/* RESPONSIVE */

@media(max-width:768px){

  .main-sidebar{

    position:fixed;

    left:-100%;
    top:0;

    box-shadow:
      0 20px 40px
      rgba(0,0,0,0.15);
  }

  .open-sidebar{
    left:0;
  }

  .close-btn{
    display:block;
  }
}

.logout-btn:active {
  transform: scale(0.95);
  background: #fca5a5;
}